@charset "UTF-8";
@import url("grid.css");

:root {
    /* 色変更される場合は、#以降のカラーコードを変更してください IE非対応 */
    --base-color: #ffffff;
    --link-color: #ececec;
    --linkhover-color: #bdbdbd;
    --back-color: #000000;
    --border-color: #ccc;
    --white-color: #fff;
}

body{
    color: var(--white-color);
}

img {
    max-width: 100%;
    height: auto;
    /*高さ自動*/
}

a {
    display: block;
    color: var(--link-color);
    text-decoration-line: none;
}

a:hover {
    color: var(--linkhover-color);
}

/*ヘッダー
-------------------------------------*/
.header {
    display: flex;
    flex-direction: row;
    padding: 2rem 0 0 0;
}

.header-box {
    margin-left: auto;
    margin-top: 8px;
}

.contact-button {
    padding: 1rem;
    border: 2px solid var(--base-color);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin: 1rem 0 0 0;
}

nav li {
    flex: 1 0 auto;
}

nav li a {
    text-decoration: none;
    text-align: center;
    width: 100%;
}

nav a:hover {
    background-color: var(--back-color);
}

nav a {
    padding: 0.5rem;
}

@media screen and (min-width: 768px) {

    /* PC時はMENUボタンを非表示 */
    #open,
    #close {
        display: none !important;
    }

    #navi {
        display: block !important;
    }
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        margin-bottom: 10px;
    }

    .header #open,
    #close {
        position: absolute;
        top: 20px;
        right: 12px;
    }

    nav ul {
        flex-direction: column;
    }

    .header li {
        padding-top: 0;
    }

    /* スマホ時はMENUボタンを表示 */
    #open {
        display: block;
        background: url(../img/button.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 50px;
        height: 50px;
        border: none;
        position: absolute;
        top: 20px;
        right: 12px;
    }

    #close {
        display: block;
        background: url(../img/button2.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 50px;
        height: 50px;
        border: none;
        position: absolute;
        top: 20px;
        right: 12px;
    }

    /* スマホ時はメニューを非表示 */
    #navi {
        display: none;
    }
}


/*メインコンテンツ
-------------------------------------*/
main {
    margin: 5rem 0 0 0;
}

.p-contents{
    margin-top: 500px;
}

section {
    margin: 5rem 0;
    padding: 3rem 0;
}

.gray-back {
    background-color: var(--back-color);
}

/*キャッチコピー
-------------------------------------*/
.catch{
    position: absolute;
    left: 0;
    right: 0;
    top:250px;
    font-size: 2rem;
    text-align: center;
}

.t-catch{
    font-size: 6rem;
}

.catch h2 {
    padding-bottom: 1rem;
}

.under {
    border-bottom: 0.4rem solid var(--base-color);
    padding: 0 1rem 1rem 1rem;
}

.under-black {
    border-bottom: 0.4rem solid var(--back-color);
    padding: 0 1rem 1rem 1rem;
}

.center {
    text-align: center;
    margin-bottom: 4rem;
}

.p-show img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* メニュー */
.c-whiteback{
    color: var(--back-color);
}

/*申し込みの流れ
-------------------------------------*/
.flow.row {
    margin-bottom: 3rem;
}

/*フッター
-------------------------------------*/
footer {
    background-color: var(--back-color);
    padding: 5rem 0;
}

footer h4 {
    border-bottom: 3px solid var(--border-color);
}

/*お問い合わせ
-------------------------------------*/
.contact-box {
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 2rem 0;
}

.table {
    margin: 4rem 0;
}

.table th {
    width: 250px;
}

/*コピーライト
-------------------------------------*/
.copyright {
    text-align: center;
    padding: 1rem 0;
    background-color: var(--base-color);
}

.copyright a {
    color: var(--back-color);
    text-decoration: none;
    display: inline;
}

/*ページトップへ戻るボタン
-------------------------------------*/
#pagetop {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

#pagetop a {
    display: block;
    background-color: var(--back-color);
    color: var(--white-color);
    width: 50px;
    padding: 10px 5px;
    text-align: center;
}

#pagetop a:hover {
    background-color: var(--link-color);
}

/* 幅768px以下の表示
-------------------------------------*/
@media screen and (max-width: 768px) {

    /*ヘッダー
-------------------------------------*/
    .header-box {
        display: none;
    }

    /*お問い合わせ
-------------------------------------*/
    .table th {
        width: 100%;
        display: block;
    }

    .table td {
        display: block;
    }
}

/* お客様の声 */
.balloon-011 {
    position: relative;
    padding-top: 42px;
}

.balloon-011 > div {
    display: flex;
    align-items: center;
    gap: 0 6px;
    position: absolute;
    top: 0;
    left: -10px;
    width: 100%;
}

.balloon-011 span {
    color: #ffffff;
    font-size: .7em;
}

.balloon-011 img {
    max-width: 45px;
    height: 100%;
    border: 3px solid #d6d6d6;
    border-radius: 50%;
}

.balloon-011 p {
    padding: 15px;
    border: 3px solid #d6d6d6;
    border-radius: 5px;
    color: #ffffff;
    font-size: .9em;
}

/* particles */
/* ---- reset ---- */
body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
  }
  canvas {
    display: block;
    vertical-align: bottom;
  } /* ---- particles.js container ---- */
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  } /* ---- stats.js ---- */
  .count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13e8e9;
    font-size: 0.8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  .js-count-particles {
    font-size: 1.1em;
  }
  #stats,
  .count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
  }
  #stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
  }
  .count-particles {
    border-radius: 0 0 3px 3px;
  }

  /* yoyaku */
  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
  }
  dd {
    margin-left: 0;
  }

  .flow-container{
    display: flex;
    justify-content: center;
    margin-top: 48px;
    padding: 12px;
  }
  
  .flow {
    padding-left: 120px;
    position: relative;
  }
  .flow::before {
    content: "";
    width: 15px;
    height: 100%;
    background: #eee;
    margin-left: -8px;
    display: block;
    position: absolute;
    top: 0;
    left: 120px;
  }
  .flow > li {
    position: relative;
  }
  .flow > li:not(:last-child) {
    margin-bottom: 8vh;
  }
  .flow > li .icon {
    font-size: 12px;
    color: #fff;
    background: rgb(107,144,219);
    background: -moz-linear-gradient(left, rgba(107,144,219,1) 0%, rgba(102,213,233,1) 100%);
    background: -webkit-linear-gradient(left, rgba(107,144,219,1) 0%,rgba(102,213,233,1) 100%);
    background: linear-gradient(to right, rgba(107,144,219,1) 0%,rgba(102,213,233,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b90db', endColorstr='#66d5e9',GradientType=1 );
    padding: 8px 20px;
    display: block;
    position: absolute;
    top: 0;
    left: -120px;
    z-index: 100;
  }
  .flow > li .icon::after {
    content: "";
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #66d5e9;
    position: absolute;
    top: 50%;
    left: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .flow > li dl {
    padding-left: 70px;
    position: relative;
  }
  .flow > li dl::before,
  .flow > li dl::after {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
  }
  .flow > li dl::before {
    width: 7px;
    height: 7px;
    margin-top: -3px;
    background: #6b90db;
    border-radius: 50%;
    left: -4px;
  }
  .flow > li dl::after {
    width: 50px;
    border-bottom: 1px dashed #999;
    position: absolute;
    left: 5px;
  }
  .flow > li dl dt {
    font-size: 20px;
    font-weight: 600;
    color: rgb(107,144,219);
    margin-bottom: 1vh;
  }
  
  /* swiper */
  .swiper {
    width: 100%;
    height: 550px;
    margin-bottom: 48px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }